<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCccw55k1alu8_ubmGqr5jhMG2RR3Em3DY</string>
	<key>GCM_SENDER_ID</key>
	<string>963892597032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEx</string>
	<key>PROJECT_ID</key>
	<string>movil-2-db4ad</string>
	<key>STORAGE_BUCKET</key>
	<string>movil-2-db4ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963892597032:ios:862aac20e32c50a24d801d</string>
	<key>DATABASE_URL</key>
	<string>https://movil-2-db4ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>